{% extends 'base.html' %}
{% load static %}

{% block title %}
    LandSearch
{% endblock title %}


{% block content %}
    <center class='worked'>
        <div class="ui huge header center aligned">
            <p>
                Just take what you need
            </p>
        </div>
        <img src="{% static '/images/copy.png' %}">
        <br>
        <br>
        <a class="big ui primary button" href="{% url 'core:new_order' %}">
            Try now
        </a>
    </center>
{% endblock content %}