{% extends 'base.html' %}
{% load static %}

{% block title %}
    LandSearch
{% endblock title %}


{% block content %}
    <center class='worked'>
        <span>
            <h1>Pesquise sua região de interesse.</h1>
        </span>
        <hr>
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div style="text-align:left; margin-left: 15em;">
            <p>
                <h1>
                    Insira as coordenadas do local e o arquivo shapefile
                    compactado.
                </h1>
                {% for field in form %}
                    <p>
                        {{field.label}}: {{field}}
                    </p>
                {% endfor %}
            <button>Adicionar</button>
            </div>
        </form>
    </center>
{% endblock content %}
