{% extends 'base.html' %}
{% load static %}

{% block title %}
    LandSearch
{% endblock title %}


{% block content %}
    <div class="ui four column centered grid" style="margin: 3rem">
        <div class="row">
            <div class="eight wide column">
                <form id='order-form' class="ui form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <span>
                        <p>
                            <h1 class="ui header">Create a new order to clip an region.</h1>
                        </p>
                    </span>
                    {% for field in form %}
                        <div class="field">
                            <p>
                                <label>{{field.label}}:</label>
                                {{field}}
                            </p>
                        </div>
                        {% if field.errors %}
                            <div class="ui negative message">
                              <i class="close icon"></i>
                              <div class="header">
                                  <ul class="ui list">
                                      {% for error in field.errors %}
                                          <li>{{error}}</li>
                                      {% endfor %}
                                  </ul>
                              </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="ui">
                        <div class="ui clearing segment">
                            <button
                                id='submit-button'
                                class="ui primary button right floated"
                                type="submit"
                            >
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
