{% extends 'base.html' %}
{% load static %}
{% block title %}
    LandSearch
{% endblock title %}


{% block content %}
        <div class="ui grid container">
            {% for order in orders %}
                <div class="four wide column">
                <div class="
                  ui card

                  {% if order.status == 'finished' %}
                    green
                  {% elif order.status == 'waiting'%}
                    blue
                  {% else %}
                    red
                  {% endif %}
                ">



                <div class="content">
                    <a class="header">{{order.coordinates.title}}</a>
                    <a href="{% url 'core:delete_order' order.id %}">
                            <i class="right floated trash icon red"></i>
                        </a>
                </div>
                <div class="image">
                    {% if order.raster %}
                        <img
                            src="{{order.raster.thumbnail_link}}"
                            alt=""
                        >
                    {% else %}
                        <img class="disabled medium ui image" src="{% static '/images/default.png' %}">
                    {% endif %}
                  </div>
                  <div class="content">
                    <div class="meta">
                      <span class="status">Status: {{order.status}}</span>
                    </div>
                    <div class="meta">
                        {% if order.status == 'waiting' %}
                            <span class="date">Collecting...</span>
                        {% elif order.raster.download_date %}
                            <span class="date">Colected in {{order.raster.download_date}}</span>
                        {% else %}
                            Region not collected.
                        {% endif %}
                    </div>
                    <div class="description">
                      {% if order.coordinates.description %}
                          {{order.coordinates.description}}
                      {% endif %}
                    </div>
                  </div>
                  <div class="extra content">
                    <a>
                      <i class="globe icon"></i>
                       Latitude: {{order.coordinates.latitude}}
                    </a>
                    <br>
                    <a>
                      <i class="globe icon"></i>
                       Longitude: {{order.coordinates.longitude}}
                    </a>
                  </div>
                  <div class="content">
                    <p>
                      {% if order.raster.download_link %}
                        <a href="{{order.raster.download_link}}">
                            <i class="download icon blue"></i>
                            Download file
                        </a>
                      {% endif %}
                    </p>
                  </div>
                </div>
                </div>
            {% endfor %}
        </div>
        {% if not orders %}
            <div class="center-screen wide column">
            <div class="ui info message">
              <div class="header">
                No orders founded.
              </div>
              <div class="content">
                  To make a new order, click on this
                      <a class="ui button" href="{% url 'core:new_order'%}">get region</a> button.
              </div>
              </div>
            </div>
        {% endif %}
{% endblock content %}