{% load compress %}
{% load static %}


<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}{% endblock title %}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% compress css %}
		<link rel="stylesheet" type="text/x-scss" href="{% static 'styles/main.scss' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
	{% endcompress %}
	{% compress js %}
		<script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'semantic/dist/semantic.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
	{% endcompress %}
</head>
<body>
	{% include "menu.html" %}
    <div class="ui container">
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <div class="ui message {{message.tags}}">
                  <i class="close icon"></i>
                  <div class="header">
                      {{message}}
                  </div>
                </div>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
	<main id="{{ view.title|slugify }}">
		{% block content %}{% endblock content %}
	</main>
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui grid">
                <div class="four wide column centered grid">
                    LandSearch 2019. All Rights Reserved
                    <div class="right aligned five wide column">
                        <a href="https://github.com/AntLouiz/LandSearch">
                            See us on github <i class="github icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
