.worked {
    padding-top: 10em;

    hr {
        display: block;
        height: 2px;
        border: 0;
        border-top: 1px solid #2b7156;
        margin: 2em 0;
        padding: 0;
    }

    li {
        text-decoration: none;
    }

    a{
        text-decoration: none;
        color: white;
    }
}


.image {
    img {
        display: block;
        max-width:300px;
        max-height:220px;
        width: auto;
        height: auto;
    }
}

.center-screen {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}